@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.container-fluid {
  padding: 0 !important;
  /* background-color: chartreuse; */
  height: 100vh;
}
.row {
  margin: 0 !important;
}
.left {
  background-color: rgb(255, 255, 255);
}
.img-fluid {
  margin-top: 70px;
  /* width: 600px !important; */
}
.right {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  flex-direction: column;
}
.description {
  font-size: 22px;
  margin-top: -20px;
  font-weight: 300;
  text-align: center;
}
.fade-in {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
